
[submodule "src/libs/ColorHandler"]
	path = src/libs/ColorHandler
	url = https://github.com/luke-hoffmann/ColorHandler
[submodule "src/libs/UsefulFunction"]
	path = src/libs/UsefulFunction
	url = https://github.com/luke-hoffmann/UsefulFunction
