[submodule "dep/ColorHandler"]
	path = dep/ColorHandler
	url = https://github.com/luke-hoffmann/ColorHandler
[submodule "dep/UsefulFunction"]
	path = dep/UsefulFunction
	url = https://github.com/luke-hoffmann/UsefulFunction
